<h1>Home</h1>

<ul>
  <%- if logged_in? %>
    <li>
      <%= link_to 'Sign out', sign_out_path, method: :delete %>
    </li>
  <% else %>
    <li><a href='/signup'>Sign up</a></li>
    <li><a href='/signin'>Sign in</a></li>
  <% end %>
</ul>
