// Place all the styles related to the champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.champion-tile {
  float: left;
  width: 5px + 120px + 5px;
  margin-bottom: 10px;
}
.champion-tile-img {
  float: left;
  padding: 5px;
}
.champion-tile-name {
  float: left;
  padding: 0 5px;
  width: 120px;
}

.champion-header {
  position: relative;
  margin-bottom: 10px;
  height: 120px;
  width: 100%;
  .champion-header-name {
    margin-left: 120px + 10px;
    .champion-header-name-name {
      padding: 20px 0 10px 0;
      font-size: x-large;
    }
    .champion-header-name-title {
    }
  }
  .champion-header-image {
    position: absolute;
    left: 0;
    width: 120px;
  }
}

.champion-skins {
  width: 100%;
}
.champion-skin {
  float: left;
  margin-bottom: 25px;
  width: 5px + 260px + 5px;
}
.champion-skin-img {
  float: left;
  width: 260px;
  padding: 0 10px 10px 0;
}
.champion-skin-name {
  float: left;
  width: 100%;
}
