// flashs
.flash-error {
  display: block;
  width: 100%;
  border: 1px solid red;
}

// forms
label {
  display: block;
  margin-bottom: 0.5rem;
}
form {
  input {
    margin-bottom: 1rem;
  }
}

// utils
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
