// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.nav-header {
  padding: 10px 0;
  border-bottom: 1px black solid;
}

.logo {
  font-size: xx-large;
}

.logo-small {
  font-size: x-large;
}

.footer {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  .footer-content {
    padding-top: 10px;
    border-top: 1px black solid;
  }
  .footer-fineprint {
    font-size: x-small;
  }
}
