// Place all the styles related to the skins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skin-body {
  position: relative;
  width: 100%;
  min-height: 480px;
  .skin-body-left {
    position: absolute;
    left: 0;
    width: 260px;
  }
  .skin-body-right {
    margin-left: 280px;
  }
}
