<%- row_size = row_size || 'two' %>

<%- if skin %>
  <div class='<%= row_size %> columns'>
    <div class='row'>
      <div class='twelve columns'>
        <%= link_to image_tag(skin.loading_img_url, alt: skin.name, width: '90%'), skin_path(skin) %>
      </div>
    </div>
    <div class='row'>
      <div class='twelve columns skin-instance-name text-center'>
        <%= link_to skin.name, skin_path(skin) %>
      </div>
    </div>
  </div>
<% end %>
