<div class='row'>
  <div class="twelve columns">
    <h1>Champions</h1>

    <div class='champion-tiles'>
      <%- @champions.each do |champion| %>
        <div class='champion-tile'>
          <div class='champion-tile-img'>
            <%= link_to image_tag(champion.tile_img_url, alt: champion.name), champion_url(champion) %>
          </div>
          <div class='champion-tile-name text-center text-bold'>
            <%= link_to champion.name, champion_url(champion) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
