<div class='row'>
  <div class="twelve columns">
    <%= render 'layouts/partials/champion_header' %>

    <div class='champion-skins'>
      <%- @champion.skins.each do |skin| %>
        <div class='champion-skin'>
          <div class='champion-skin-img'>
            <%= link_to image_tag(skin.loading_img_url, alt: skin.name, width: '260px'), skin_url(skin.id) %>
          </div>
          <div class='champion-skin-name text-center text-bold'>
            <%= link_to skin.name, skin_url(skin.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
